:root {
  --gunmetal: #2C363F;
  --blush: #E75A7C;
  --ivory: #F2F5EA;
  --sage: #BBC7A4;
  --timberwoif: #D6DBD2;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: 'Ysabeau Office', sans-serif;
}
@media (max-width: 500px)  {
  body{
     font-size: 50px; 
  }
  
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ysabeau+Office&display=swap');
.main {
  margin: 1rem  1rem 1rem 11.5rem; /* Same as the width of the sidenav */
  
}

body{
  background: var(--ivory);
}

.App{
  text-align: center;
}
.App h1{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  margin: 20px;
  color: var(--blush);
}
.list{
  text-align: left;
  width: 600px;
  margin: auto;
}
.list li{
  list-style-type: none;
}



.notFound{
  text-align: center;
}
.notFound h1{
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  color: var(--blush);
}

